{{# partial "titulo" }}
    <title>Tramo</title>
{{/partial}}

{{# partial "contenido" }}
    <section>
        <div>
            Tramo
            <div>
                Origen
                <input type="text" id="origen"  placeholder="Origen">
            </div>
           <div>
               Destino
               <input type="text" id="destino"  placeholder="Destino">
           </div>
           <div>
                Medio de transporte
              <input type="text" id="medioDeTransporte"  placeholder="Medio de transporte">
          </div>
          <input type="button" id="guardarTramo" class="btn-borde" value="Guardar tramo" autofocus="true" />
        </div>
    </section>
{{/partial}}

{{> layoutUsuario.html.hbs }}