
<title>Guia de Recomendaciones</title>
<head>
    <link rel="stylesheet" type="text/css" href="/recomendaciones.css">
    {{# block "titulo" }}
    {{/block}}
</head>
<body>
     <div class="wrapper">
            <header>
                <div class="section">
                    <div class="header-title">
                        Recomendaciones
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="section">
                    <div class="guia-wrapper">
                        <h2>Se recomienda tomar las siguientes medidas</h2>
                        <ul>
                           <li>Compartir el trayecto 🚙</li><p>Te sugerimos compartir el trayecto con otro integrante de la organización utilizando un vehículo compartido.</p>
                            <li>Utilizar un transporte alternativo 🚲</li><p>Te recomendamos buscar un medio de transporte alternativo, ya sea transporte público o bicicleta.</p>
                            <li>Solicitar home office 💻</li><p>Si no tenés disponible una alternativa de transporte sustentable, considera solicitar home office si tu actividad te lo permite.</p>
                        </ul>
                    </div>
                </div>
            </div>
            <footer>
                <div class="section">
                  <div>
                      UTN FRBA CATEDRA DISEÑO 2022
                      <!-- <p align="left">{{ fecha }}</p> -->
                  </div>
                </div>
            </footer>
     </div>
</body>






