
<title>Guia de Recomendaciones</title>
<head>
    <link rel="stylesheet" type="text/css" href="/recomendaciones.css">
    {{# block "titulo" }}
    {{/block}}
</head>
<body>
     <div class="wrapper">
            <header>
                <div class="section">
                    <div class="header-title">
                        Recomendaciones
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="section">
                    <div class="guia-wrapper">
                        <h2>Se recomienda tomar las siguientes medidas</h2>
                        <ul>
                            <li>Compartir el trayecto</li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, explicabo? Sit minima delectus laudantium repellendus iusto quia incidunt laboriosam voluptates tenetur odio, reiciendis natus est cum dicta. Illum, recusandae labore.</p>
                            <li>Utilizar un transporte alternativo</li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore eos voluptate qui harum quod odio numquam, ex sed nisi ipsam eaque ullam pariatur dicta consequuntur repellat reiciendis, vel molestiae iusto!</p>
                            <li>Solicitar home office</li><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem libero magni quis tenetur in beatae officia, aut rerum est tempora incidunt, necessitatibus sed nihil pariatur eum corrupti praesentium vero ex?</p>
                        </ul>
                    </div>
                </div>
            </div>
            <footer>
                <div class="section">
                  <div>
                      UTN FRBA CATEDRA DISEÑO 2022
                      <!-- <p align="left">{{ fecha }}</p> -->
                  </div>
                </div>
            </footer>
     </div>
</body>






