{{# partial "titulo" }}
    <title>Reportes</title>
{{/partial}}

 <head>
        <link rel="stylesheet" type="text/css" href="/reportes.css">
    </head>

{{# partial "contenido" }}
    <section>
        
    
            <h3 class="header-title">Reportes</h3>
            
            <div>

                  <input type="button" id="agregar" class="btn-borde-reportes" value="HC Total por tipo de Organizacion" autofocus="true" />
                      <input type="button" id="agregar" class="btn-borde-reportes" value="HC Total por sector territorial" autofocus="true" />
                    
                    <input type="button" id="agregar" class="btn-borde-reportes" value=" Composicion de HC total de un sector territorial" autofocus="true" />
                   <input type="button" id="agregar" class="btn-borde-reportes" value="  Composicion de HC total de una Organizacion" autofocus="true" />
                  <input type="button" id="agregar" class="btn-borde-reportes" value="   Evolucion de HC total de un sector territorial" autofocus="true" />
                   <input type="button" id="agregar" class="btn-borde-reportes" value="  Evolucion de HC total de una Organizacion" autofocus="true" />
                
            </div>
          
    </section>
  
    
{{/partial}}

{{> layout.html.hbs }}