{{# partial "titulo" }}
    <title>Acceso restringido</title>
{{/partial}}

{{# partial "contenido" }}
    <section>

        <p>No tienes permiso para acceder a este lugar.</p>
        <div class="content">

        </div>
    </section>

{{/partial}}
{{> layout.html.hbs }}

