{{# partial "titulo" }}
    <title>Reportes</title>
{{/partial}}
<head>
    <link rel="stylesheet" type="text/css" href="/reportesSectorTerritorial.css">
</head>

{{# partial "contenido" }}
     <section>
        Sectores territoriales
        <form class="selector-organizacion" action="/home/reportes/hc-por-sector-territorial" method="POST">
            <div class="campo">
                Elija Sector Territorial
                <div class="container-tipo">
                    {{#each sectoresTerritoriales}}
                        <div class="tipo-st">
                            <input type="radio" id="{{id}}" name="sectorTerritorial" value="{{id}}">
                            <label for="{{id}}">{{nombre}}</label>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div>
                <input type="submit"  class="btn-borde-reporte" value="Obtener" />
            </div>
        </form>
    </section>
{{/partial}}

{{> layout.html.hbs }}