{{# partial "titulo" }}
    <title>Reportes</title>
{{/partial}}
<head>
    <link rel="stylesheet" type="text/css" href="/reportesSectorTerritorial.css">
</head>

{{# partial "contenido" }}
     <section>
         Organizacion: {{organizacion}}
         <section class="container" style="border: ridge #141414 1px;">
             <table style="text-align:center;">
                 <tr class="row-tr">
                     <td>Nombre sector</td>
                     <td>HC</td>
                 </tr>
                 {{#each organizacionComposiciones}}
                     <tr class="row-tr">
                         <td>{{nombre}}</td>
                         <td>{{hcSector}}</td>
                     </tr>
                 {{/each}}
             </table>
        </section>
     </section>
{{/partial}}

{{> layout.html.hbs }}