@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ebebebfd;
  align-items: center;
  background-image: url(./imagenes/fondo-plantas.webp);
  background-position: center;
}
  
  
  
header, footer, .content{
  margin: auto;
  width:100%;
}
  
header .section,footer .section, .content .section{
  height:100%;
  width:80%;
  margin:auto;
}

header .section, footer .section{
  width: 100%;
}
  
header, footer {
  flex: 0 0 70px;
}
  
.content{
  flex: 1;
}

header .section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background: rgb(255,187,17);
  background: linear-gradient(90deg, rgba(255,187,17,1) 0%, rgba(75,232,48,1) 98%);
}

.header-title {
  text-align: center;
  margin: auto;
  font-size: 1.7em;
  font-family: 'Roboto', sans-serif;
  color: #fbfbfb;
}

.content .section{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbfbfb;

}

.searchbar {
  width: 70%;
  height: 30px;
  padding-left: 8px;
  border-radius: 15px;
  color: black;
  border-color: black;
}

footer .section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #38383a;
  color: #fbfbfb;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sectores-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
  font-size: 1.2em;
}

.sectores-label {
  margin-bottom: 50px;
}

.sector-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sector {
    margin-bottom: 10px;
}

.login-button {
  width: 150px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  background-color: #FB1;
  border-radius: 10px;
  font-size: 1em;
  border: none;
  text-decoration: none;
}

.login-button:hover {
  background-color: rgb(228, 172, 31);
}

header .section a:link {
  color: #fbfbfb
  background-color: green;
  border: 2px solid #fbfbfb;
  padding: 10px;
  margin-left: 20px;
  text-decoration: none;
  border-radius: 5px;
}

header .section a:visited {
  color: #fbfbfb
  background-color: green;
  border: 2px solid #fbfbfb;
  padding: 10px;
  margin-left: 20px;
  text-decoration: none;
  border-radius: 5px;
}
