{{# partial "titulo" }}
    <title>Fallo carga de Archivo</title>
{{/partial}}

{{# partial "contenido" }}
    <section>

        <label>La extension del archivo no es la correcta o el archivo esta vacio intente cargar otro.</label>
        <div class="content">

        </div>
    </section>

{{/partial}}
{{> layout.html.hbs }}

