<head>
    <meta charset="UTF-8">
    <title>Buscar Organizacion</title>
    <link rel="stylesheet" type="text/css" href="/postularse.css">
</head>

<body>
<div class="wrapper">
    <header>
        <div class="section">
            <div class="header-title">
                Buscar Organizacion
            </div>
        </div>
    </header>
    <div class="content">
        <div class="section">
            <form class="search-form" action="/homeUsuario/trayecto" method="POST">
                <input class="searchbar" name="nombre" placeholder="Escribí el nombre de la organización..."/>
                <input class="login-button" type="submit" value="Buscar">
            </form>
        </div>
    </div>
    <footer>
        <div class="section">UTN FRBA CATEDRA DISEÑO 2022</div>
    </footer>
</div>
</body>