{{# partial "titulo" }}
    <title>Calculo de HC</title>
{{/partial}}

{{# partial "contenido" }}
    <section class="fondo-gris">
        <h2>Calculo de HC</h2>
        <div>
            <h1>{{nombre}} {{apellido}}</h1>
            <div>{{totalHC}}</div>
        </div>
    </section>
{{/partial}}

{{> layout.html.hbs }}