{{# partial "titulo" }}
    <title>Calculo de HC</title>
{{/partial}}

{{# partial "contenido" }}
    <section>
        <h2>Mi impacto ambiental</h2>
        <p>
            Trabajo Practico Anual 2022.Esta es la pantalla de Inicio de nuestra pagina.
        </p>
    </section>

    <ol>
        Integrantes:
        <li>Choque, Ariel</li>
        <li>Borgognoni, Ivan</li>
        <li>Hinojosa, Oscar</li>
        <li>Quisbert, Jose</li>
    </ol>

{{/partial}}
{{> layout.html.hbs }}
