    <head>
        <title>Vincularse</title>
        <link rel="stylesheet" type="text/css" href="/sectores.css">
    </head>
{{!-- {{# partial "titulo" }}
    <title>Postularse</title>
{{/partial}}
<head>
    <link rel="stylesheet" type="text/css" href="/solicitudes.css">
    {{# block "titulo" }}
    {{/block}}
</head>
{{# partial "contenido" }}
    <section>
        <div class="section">
            <div class="header-title">
                <h3>Solicitudes</h3>
            </div>
        </div>
        <div>

        </div> --}}

    <body>
        <div class="wrapper">
            <header>
                <div class="section">
                    <div class="header-title">
                        Vincularse
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="section">
                    <div class="sectores-wrapper">
                        <div class="sectores-label">
                            Elegí el sector al que te querés vincular
                        </div>
                        <form action="/home/sectores/vinculacion" method="POST">
                        {{#each sectores}}
                            <div class="sector">
                                <input type="radio" id="{{id}}" name="sector" value="{{id}}">
                                <label for="{{id}}">{{nombre}}</label>
                            </div>
                        {{/each}}
                        <input class="login-button" type="submit" value="Vincularse">
                        </form>
                    </div>
                </div>
            </div>
            <footer>
                <div class="section">UTN FRBA CATEDRA DISEÑO 2022</div>
            </footer>
          </div>
    </body>